@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans/OpenSans-Light.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans/OpenSans-Regular.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'OpenSansMedium';
    src: url('OpenSans/OpenSans-SemiBold.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans/OpenSans-Bold.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('OpenSans/OpenSans-ExtraBold.ttf');
    font-weight: 100;
}